<!DOCTYPE html>

<html th:replace="~{_global :: plantilla(~{::title}, ~{::#contenido})}"
	xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title>Biblioteca</title>
</head>

<body>
	<div id="contenido">
		<h2>Administración</h2>

		<div class="table-responsive">
			<table id="listado"
				class="table table-hover table-striped table-bordered">
				<caption>Libros</caption>
				<thead class="table-dark">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Título</th>
						<th scope="col">ISBN</th>
						<th scope="col">Unidades</th>
						<th scope="col">Género</th>
						<th scope="col">Autor</th>
						<th scope="col">Prestatario</th>
						<th scope="col">OPCIONES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="l: ${libros}">
						<th scope="row">[[${l.id}]]</th>
						<td>[[${l.titulo}]]</td>
						<td>[[${l.isbn}]]</td>
						<td>[[${l.unidades}]]</td>
						<td>[[${l.genero}]]</td>
						<td>[[${l.autor}]]</td>
						<td>[[${l.prestatario?.nombre}]]</td>
						<td><a th:href="@{/admin/libro/{id}(id=${l.id})}"
							class="btn btn-sm btn-primary">Editar</a> <a
							th:href="|admin/libro/devolver/${l.id}|" class="btn btn-sm btn-warning">Devolver</a>
							<a th:href="|admin/libro/borrar/${l.id}|"
							class="btn btn-sm btn-danger">Borrar</a></td>
					</tr>
				</tbody>
				<tfoot class="table-dark">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a th:href="@{/admin/libro}"
							class="btn btn-sm btn-primary">Añadir</a></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</body>
</html>