<!DOCTYPE html>

<html th:replace="~{_global :: plantilla(~{::title}, ~{::#contenido})}"
	xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title>Biblioteca</title>
</head>

<body>
	<div id="contenido">
		<h2>Mantenimiento <th:block th:text="${libro.getTitulo() != null ? 'de ' + libro.titulo : 'de nuevo libro'}">de libro</th:block></h2>

		<form th:action="@{/admin/libro}" th:object="${libro}" method="post" novalidate>
			<div class="row mb-3">
				<label for="id" class="col-sm-2 col-form-label">Id</label>
				<div class="col-sm-10">
					<input readonly type="number" class="form-control" th:field="*{id}">
				</div>
			</div>
			<div class="row mb-3">
				<label for="titulo" class="col-sm-2 col-form-label">Título
					del libro</label>
				<div class="col-sm-10">
					<input required maxlength="50" type="text" class="form-control"
						th:field="*{titulo}">
					<div class="invalid-feedback">El título es obligatorio y debe
						tener como máximo 50 caracteres</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
				<div class="col-sm-10">
					<textarea maxlength="2000" rows="5" class="form-control"
						th:field="*{descripcion}">${libro.descripcion}</textarea>
				</div>
			</div>

			<div class="row mb-3">
				<label for="isbn" class="col-sm-2 col-form-label">ISBN</label>
				<div class="col-sm-10">
					<input required pattern="^\d{13}$" type="text" class="form-control"
						th:field="*{isbn}">
					<div class="invalid-feedback">El ISBN debe tener 13 dígitos</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="unidades" class="col-sm-2 col-form-label">Unidades</label>
				<div class="col-sm-10">
					<input required min="0" type="number" class="form-control"
						th:field="*{unidades}">
					<div class="invalid-feedback">El mínimo de unidades es cero</div>
				</div>
			</div>
			<div class="row mb-3">
				<label for="genero" class="col-sm-2 col-form-label">Género</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{genero}">
				</div>
			</div>
			<div class="row mb-3">
				<label for="autor" class="col-sm-2 col-form-label">Autor</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{autor}">
				</div>
			</div>
			<div class="row mb-3">
				<label for="prestatario" class="col-sm-2 col-form-label">Prestatario</label>
				<div class="col-sm-10">
					<select class="form-select" th:field="*{prestatario.id}">
						<option selected value="0">Elija...</option>
						<option value="1">Javier</option>
						<option value="2">Pepe</option>
					</select>
				</div>
			</div>
			<div class="row mb-3">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Guardar
						libro</button>
					<a class="btn btn-danger" href="admin/index" type="submit">Cancelar</a>
				</div>
			</div>
		</form>
	</div>
</body>
</html>